@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
body{
background:  #7ea66f69;
}

.wrapper{
  display: flex;

}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #66825a;

  position: fixed;

}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color:#183a1d;
}

.wrapper .sidebar ul li a{
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover , tr:hover , textarea{
  background-color:#e1eedd;

}

.wrapper .sidebar ul li:hover a{
color:#183a1d;
}


.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
  margin-top: 50px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #66825a7a;
    color: #183a1d;
  border-bottom: 1px solid #e0e4e8;
  font-size: 25px;
}
.wrapper  .header{
  padding: 20px;
  background:  #66825a7a;
  color: #183a1d;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #183a1d;
  line-height: 25px;
}



.container{
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  margin-top: 10px;
  padding: 10px;

}
.manageform .container{
  background-color:  #66825a99;
}
.maxwidth {
  max-width:1300px;
  padding: 0 45px;
  margin: auto;
}
.maxwidth h1 {
  text-align: center;

  font-size: 50px;
  font-weight: 500;
  margin-bottom:50px;
  padding-bottom:20px;
  color: white;

}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #183a1d;
}
.Appcontent{
  display: block;
}
.service{
  padding: 50px 25px;
  width: calc(26% - 20px);
  border-radius: 1px;
  background: #66825a7a;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;

  }
  .service:hover{
    background-color:#e1eedd;
    color:#183a1d;
    position: unset;
  }
  .box{
    transition: all 0.3s ease;
  }
  .box a{
    color: #183a1d;
    text-decoration: none;
  }
  .box a:hover{
    color: #183a1d;
    text-decoration: none;
      position: unset;
  }
  .service:hover .box{
    transform: scale(1.05);

  }
  .imgframe{
  padding: 10px;
  }
  .content_overflow{
    width: 250px;
  height: 100px;
  overflow: scroll;
  }
  .wrapper .sidebar .pointer{
     transition: all 0.3s ease;
  }

  .wrapper .sidebar .pointer:hover {
    transform: scale(1.05);
  }
  .button {
     background-color: #66825a;
  	  border-radius: 30px;
    	text-decoration: none;
  	padding: 10px 28px;
  	color: white;
  	margin-top: 10px;
  	display: inline-block;
    margin-left: 5px;}

  .button:hover{
  color:white;
  text-decoration: none;
                  }
                  button, select {
  text-transform: none;
  width: 100px;
}
.p-5 {

  padding: 0px !important;
}

  .moreb {
    border-radius: 3px;
    border-color: black;
    background-color:#66825a;
    color: white;
    padding: 5px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    width: 65px;
  }


.moreb:hover{
  text-decoration: none;
  color: black;
}


    .service .button:hover{
      color: black;
    }
    .manageform{
    color: #183a1d;
font-weight: bold;
margin-top: 20px;
    }
    .requestBox{

margin-top: 20px;
color:  #183a1d;
border-color: white;
width: calc(30% - 20px);
background-color:#66825a7a;
text-align: center;
margin-left: 350px;
    }


.requestBox a{
  text-decoration: line;
  color:  #183a1d;
}
.grid{
  display: grid;
color: #183a1d;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: unset;
}
